parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: sico
    database_user: sico
    database_password: sico
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 110614910bbba810e104ecc9b60991610ee13
    database_path: null
