.action-nav-normal .action-nav-button {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}
.span4 {
    width: 370px;
}
[class*="span"] {
    float: left;
    margin-left: 30px;
    min-height: 1px;
}
.action-nav-normal .action-nav-button a {
    -moz-box-sizing: border-box;
    background: -moz-linear-gradient(center top , #FAFAFA, #ECECEC) repeat scroll 0 0 / 100% auto #ECECEC;
    border: 1px solid #D5D5D5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 0 1px #FAFAFA inset, 0 1px 1px 0 #DDDDDD;
    color: #626262;
    display: block;
    font-weight: 700;
    padding: 10px 0;
    white-space: nowrap;
	text-decoration: none;
}
.icon-envelope:before {
    content: "";
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    text-decoration: inherit;
}
.action-nav-normal .action-nav-button a > i {
    color: #808080;
    font-size: 32px;
}
.action-nav-normal .action-nav-button {
    text-align: center;
}
.action-nav-normal .action-nav-button a > span {
    display: block;
    font-weight: 600;
    padding-top: 4px;
}
