{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<aside class="span3">
  <nav class="sidebar-nav">
    <ul class="nav nav-tabs nav-stacked">
      <li>
        
      </li>
      <li>
        
      </li>
    </ul>
  </nav>
</aside>
<section class="span9">
  <section class="hero-unit">
    <hgroup>
      <h1>Sistema Integrado de Correspondencia</h1>
    </hgroup>
  </section>
  <section class="span9">
    
  </section>
</section>
{% endblock %}
