{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<aside class="span3">
  <nav class="well sidebar-nav">
	<ul class="nav nav-list">
      <li><a href="{{ path('oficio_new') }}">Registrar un Oficio</a></li>
    </ul>
  </nav>
</aside>
<section class="span9">
<section class="hero-unit">
  <hgroup>
    <h1>Sistema Gestor de Oficios</h1>
  </hgroup>
</section>
{% endblock %}
