{% extends "UNAHSGOBundle::layout.html.twig" %}
{% block content %}
<div class="row-fluid">
  <hgroup class="span12 page-header">
    <h1>Sistema Integrado de Correspondencia</h1>
  </hgroup>
</div>
{% for tipo in tipos %}
<div class="row-fluid">
  <section class="span6">
    <a href="{{ path('documento_enviando', { 'tipo': tipo.id }) }}">Enviar un {{ tipo.nombre }}</a>
  </section>
  <section class="span6">
    <a href="{{ path('documento_recibiendo', { 'tipo': tipo.id }) }}">Recibir un {{ tipo.nombre }}</a>
  </section>
</div>
{% endfor %}
{% endblock %}
